#wp-debug-bar {
  @color: #2c5f90;
  @color-2: #73d098;
  @color-text: #ffffff;
  @background: #3b3b3b;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999999;
  padding: 15px 30px 15px 15px;
  background: fade(@background, 90%);
  color: #ffffff;
  font-size: 15px;
  font-family: 'Open Sans', 'Arial', sans-serif;

  .hide-bar {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    line-height: 13px;

    color: @color-text;
    opacity: 0.8;
    border: 1px solid fade(@color-2, 100%);
    &:hover {
      opacity: 0.9;
    }
  }

  .clear {
    clear: both;
  }

  .title {
    margin: 0 -65px;
    font-size: 16px;
    position: absolute;
    left: 100%;
    top: 50%;
    width: 130px;
    text-align: center;
    transform: rotate(90deg);
    transform-origin: center top;
    //border: 1px solid #ffffff;
    text-transform: uppercase;
    padding: 4px;
    color: #ffffff;
  }

  p {
    margin: 0;
  }

  .main {
    position: relative;
    float: right;
    text-align: right;
    margin: 0 0 70px 70px;
    .time, .queries, .memory {
      position: relative;
      display: block;
      border: 1px solid lighten(@color-2, 0%);
      padding: 0;
      border-radius: 50%;
      font-size: xx-small;
      width: 50px;
      height: 50px;
      margin: 0 auto 10px;
      text-align: center;
      span {
        display: block;
        font-size: 20px;
        font-weight: bold;
        line-height: 20px;
        margin: 10px 0 0;
      }
      .circle {
        position: absolute;
        width: 70px;
        height: 70px;
        margin: -35px;
        top: 50%;
        left: 50%;
        border: 1px solid darken(@color, 1%);
        border-radius: 50%;
        display: none;
      }
    }
    .time {
      width: 70px;
      height: 70px;
      span {
        line-height: 20px;
        margin: 25px 0 0;
      }
      .circle {
        width: 90px;
        height: 90px;
        margin: -45px;
      }
    }
    .queries {
      position: absolute;
      top: 0;
      left: 0;
      margin: 58px 0 0 -41px;

    }
    .memory {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0 0 0 -60px;
      span {
        font-size: 15px;
      }
    }
  }
  .details {

  }
  .filters {
    ul {
      padding: 0;
    }
    li {
      list-style: none;
      display: inline-block;
      padding: 4px 6px;
      margin: 0 5px 5px 0;
      border: 1px solid @color-2;
      border-radius: 14px;
      font-size: 0.9em;
    }
  }
  .refs {
    list-style: none;
    font-size: 0.9em;
    padding: 0;
    color: @color-text;
    position: absolute;
    bottom: 0;
    left: 15px;
    li {
      display: block;
      float: left;
      a {
        color: inherit;
        &:hover {
          text-decoration: underline;
        }
      }
      & + li {
        &:before {
          content: '/';
          color: @color-2;
          margin: 0 5px;
        }
      }
    }
  }
  .refs-content, .bg {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .refs-content {
    position: fixed;
    display: none;
    padding: 120px;

    > div.ref-item {
      display: none;
      margin: 0 auto;
      background: #ffffff;
      color: #555;
      padding: 50px;
      position: relative;
      max-height: 100%;
      overflow: auto;
      box-shadow: 0 0 10px fade(darken(@color, 20%), 60%);
    }
  }
  .bg {
    position: absolute;
    background: fade(@color, 20%);
  }

}

.debug-tool-error-list {
  padding: 0;
  margin: 0;
  .debug-tool-error {
    display: block;
    list-style-type: none;
    padding: 15px;
    margin: 10px;
    background: #cccccc;
    border: 1px solid #bbbbbb;
  }
  .dt-warning {
    @color: #ec971f;
    color: darken(@color, 20%);
    background: fade(@color, 30%);
    border-color: @color;
  }
  .dt-notice {
    @color: #31b0d5;
    color: darken(@color, 20%);
    background: fade(@color, 30%);
    border-color: @color;

  }
  .dt-undefined,
  .dt-strict,
  .dt-deprecated {
    @color: #cccccc;
    color: darken(@color, 20%);
    background: fade(@color, 30%);
    border-color: @color;
  }
}